[user]
    name = shinofumijp
    email = "electric.spanish.shinofumi.335@gmail.com"
[color]
    ui = auto
[push]
    default = simple
[core]
    editor = /usr/bin/vim
[filter "media"]
    required = true
    clean = git media clean %f
    smudge = git media smudge %f
[alias]
  # Open issues and pull requests created by me
  byme = !hub browse -- issues/created_by/$(git config user.name) && hub browse -- pulls/$(git config user.name)

  # Open issues and pull requests assigend to me
  tome = !hub browse -- issues/assigned/$(git config user.name) && hub browse -- pulls/assigned/$(git config user.name)

  # Show the pull request created from current branch
  see  = !hub browse -- pull/$(git symbolic-ref --short HEAD)

  notifications = !hub browse /notifications

  ca = "commit --amend --no-edit"
  p = "push"
  c = "commit"
  co = "checkout"
  sw = "checkout"
  a = "add"
  see = browse
  pull-request = "pull-request --browse"
  pr = !hub pull-request
  openpr = "!f() { hub browse -- `git log --merges --oneline --reverse --ancestry-path $1...master | grep 'Merge pull request #' | head -n 1 | cut -f5 -d' ' | sed -e 's%#%pull/%'`; }; f"

[web]
    browser = open
[browser "chrome"]
    cmd = open -a ‘Google Chrome.app’
[github]
	user = shinofumijp
[pull]
	rebase = false
[init]
	defaultBranch = main
