[user]
    name = shinofumijp
    email = electric.spanish.shinofumi.335@gmail.com
[color]
    ui = auto
[push]
    default = simple
[core]
    editor = /usr/bin/vim
[filter "media"]
    required = true
    clean = git media clean %f
    smudge = git media smudge %f
[alias]
  # Open issues and pull requests created by me
  byme = !hub browse -- issues/created_by/$(git config user.name) && hub browse -- pulls/$(git config user.name)

 # Open issues and pull requests assigend to me
  tome = !hub browse -- issues/assigned/$(git config user.name) && hub browse -- pulls/assigned/$(git config user.name)

 # Show the pull request created from current branch
  see  = !hub browse -- pull/$(git symbolic-ref --short HEAD)

 # Create a pull requests from current branch
  pr = !hub browse -- compare/$(git symbolic-ref --short HEAD)‘?’expand=1'&‘body=%23%23%20%E7%9B%AE%E7%9A%84%0A%0A%23%23%20%E5%A4%89%E6%9B%B4%E5%86%85%E5%AE%B9

 notifications = !hub browse /notifications

[web]
    browser = open
[browser "chrome"]
    cmd = open -a ‘Google Chrome.app’
[github]
	user = shinofumijp
